@media screen and (max-width:1490px){
  /* iam Page Style Code */
  .iam .main2_contents .main_img img{width:300px;height:300px;
  }
  .iam .container .card_wrap .main2_fronttxt{height:35%;padding:10px 15px;}
  .iam .main2_contents .detail_profile span{margin-top:10px;}
  .iam .main2_contents .detail_profile span h3{font-size:28px;}
  .iam .card_btnwrap{width:85%}
  .iam .main2_contents .main2_backtxt .main2_txt .skill_wrap{margin-top:15px;}
  .iam .card_wrap .main2_fronttxt,
  .iam .card_wrap .main2_backtxt{height:380px;}

  /* Planning Page Style Code */
  .container .accordion{width:100%;}
}

@media screen and (max-width:1350px){
  /* 2nd Page Style Code */
  .iam .iam_wrap{justify-content: space-between;}
  .iam .main2_contents {width:calc(30% - 10px);}
  .iam .main2_contents .main_img{width:100%;}
  .iam .main2_contents .main_img img{width:100%;height:auto;}
  .iam .card_btnwrap{width:calc(70% - 10px);}
  .iam .card_wrap{width:100%;}
  .iam .card_wrap .main2_fronttxt,
  .iam .card_wrap .main2_backtxt{height:350px;}
  .iam .detail_profile span{margin-top:10px;}
  .iam .detail_profile span h3{font-size:28px;}
  .iam .main2_backtxt .main2_txt{width:100%;height:100%;}
  .iam .main2_fronttxt h2,
  .iam .main2_backtxt .main2_txt h2{font-size:23px;}
  .iam .skill_btn{height:50px;}

  /* 4rd Page Style Code */
  .psai .punum_4_mainbox .ps_aitxt .psai_txt{padding-left:20px;}

  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(1),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(2),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(3),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(4),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(5),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(6),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(7),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(8),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(9),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(10),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(11),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(12),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(13),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(14),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(15),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(16){background-size:400px;}

  /* Planning Page Style Code */
  .planning .vertical_center .plan_txt h2{font-size:19px;}
  .container .accordion{justify-content: center;}
  .container .accordion .item_title{padding:15px;}
  .accordion .item .item_img.show{width:400px;}

  /* 5th page Style Code */
  .contact .contact_board li>span{font-size:12px;}
}

@media screen and (max-width:1150px){
  /* header Style Code/ */
  header .navigation .navi a{padding:0 20px;}
  /* 1st Page Style Code */
  .home .left_wing img, .home .right_wing img{width:120px;}
  .home .main_txt{display:flex;align-items: center;justify-content:center;}
  .home .main_txt .typing ul li,
  .home .main_txt .typing ul li.on{font-size:25px;}

  /* 3rd Page Style Code */
  .web .slide .slide_txt h2{font-size:22px;margin-bottom:10px;}
  .web .slide .slide_txt p{font-size:14px;}
  .web .slide .slide_txt .slide_button{width:130px;height:35px;margin-top:15px;}
  
  /* 4rd Page Style Code */
  .psai .punum_4_mainbox .ps_aitxt{width:55%;}
  .psai .punum_4_mainbox .ps_aitxt .psai_txt{padding-left:10px;}
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(1),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(2),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(3),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(4),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(5),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(6),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(7),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(8),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(9),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(10),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(11),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(12),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(13),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(14),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(15),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(16){background-size:350px;}
  .psai .punum_4_mainbox .ps_aitxt .psai_txt p{font-size:14px;}
  .psai .punum_4_mainbox .ps_aitxt .psai_txt button{width:110px;font-size:12px;}

   /* Planning Page Style Code */
   .container .accordion .item_title{display:flex;justify-content:space-between;align-items:center;padding:10px 5px;font-size:14px;}
  .item_title:before,
  .item_title:hover::after,
  .item_titleActive:after,
  .container .accordion .item_title{height:250px;}

  /* 5th page Style Code */
  .contact .contact_icon{width:30%;}
  .contact .contact_icon i{font-size:200px;}
  .contact .contact_board{width:70%;}
}

@media screen and (max-width:950px){
  header .navigation .logo{font-size:30px;}
  header .navigation .navi p{font-size:17px;}
   /* 1st Page Style Code */
  .pgnum_1 .left_wing, .pgnum_1 .right_wing{width:80px;height:80px;}
  .pgnum_1 .main_contents .main_txt .typing ul li{font-size:22px;}
  .pgnum_1 .main_contents .main_txt .typing ul li.on{font-size:22px;}
  .pgnum_1 .main_contents .main_txt .typing{width:50%;margin:auto;}

  /* 2nd Page Style Code */
  .iam .iam_wrap{flex-direction:column;padding-top:30px;}
  .iam .main2_contents{width:100%;}
  .iam .main2_contents .main_img img{width:230px;}
  .iam .card_btnwrap{width:100%;}
  .iam .card_wrap{height:300px;width:70%;}
  .iam .card_wrap .main2_fronttxt,
  .iam .card_wrap .main2_backtxt{height:90%;padding:10px;}
  .iam .main2_fronttxt h2,
  .iam .main2_backtxt .main2_txt h2{font-size:21px;}
  .iam .detail_profile p{font-size:14px;padding:2px 0;}
  .iam .detail_profile span h3{font-size:21px;}
  .iam .main2_fronttxt .education{font-size:18px;padding:8px 0;}
  .iam .skill_wrap .skill_bar{height:15px;}
  .iam .skill_btn{width:100px;}
  .iam .skill_btn button,
  .iam .skill_btn button:hover{height:35px;font-size:12px;}

  /* 3rd Page Style Code */
  .web .slide .slide_bg{flex-direction:column;height:560px;margin-top:30px;justify-content: center;}
  .web .slide .slide_image{width:55%;}
  .web .slide .slide_image img{width:90%;padding:30px 0;}
  .web .slide .slide_txt{width:100%;height:250px;}
  .web .slide .slide_txt .txt_box{display:flex;flex-direction:column;align-items: center;}

  /* 4rd Page Style Code */
  .psai .punum_4_mainbox{flex-direction: column;align-items: center;padding-top:40px;}
  .psai .punum_4_mainbox .ps_aiwrap{width:60%;}
  .psai .punum_4_mainbox .ps_aitxt{width:100%;}
  .psai .punum_4_mainbox .ps_aitxt .psai_txt{padding:0;text-align:center;}
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(1),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(2),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(3),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(4),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(5),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(6),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(7),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(8),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(9),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(10),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(11),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(12),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(13),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(14),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(15),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(16){height:300px;background-size:300px;}
  .psai .punum_4_mainbox .ps_aitxt .psai_txt button{margin-top:30px;}

  /* Planning Page Style Code */
  .accordion .item .item_img.show{width:330px;}

  /* 5th Page Style Code */
  .contact{flex-direction:column;margin-top:40px;;}
  .contact .contact_icon i{font-size:130px;}
  .contact .contact_board{width:90%;}
  .contact .contact_board h2{font-size:21px;}
  .contact .contact_board ul{height:190px;margin:10px auto;}
  .contact .contact_board h3{padding:10px 0;font-size:15px;}
  .contact .contact_board .contact_write{margin:10px auto;}
  .contact .contact_board .board_more button,
  .contact .contact_board .write_btn button{font-size:12px;}
}

@media screen and (max-width:850px){
  /* 1st Page Style Code */
  .pgnum_1 .main_contents{flex-direction: column;justify-content:center;}
  .pgnum_1 .left_wing, .pgnum_1 .right_wing{margin:70px 0;}

  /* 5th Page Style Code */
  .contact .contact_board li>span:nth-child(1){display:none;}
  .contact .contact_board li>span:nth-child(2){width:25%;}
  .contact .contact_board li>span:nth-child(4){width:25%;}

  /* Planning Page Style Code */
  .planning .vertical_center .plan_txt h2{font-size:17px;}
  .accordion .item .item_img.show{width:210px;}
  .item_title:before,
  .item_title:hover::after,
  .item_titleActive:after,
  .container .accordion .item_title{height:210px;letter-spacing: 0.1px;font-size: 13px;}
  .planning .plan_btn{justify-content:center;}
  .planning .plan_btn button{width:80px;height:40px;margin-top:30px;font-size:11px;}
  
}

@media screen and (max-width:700px){
  /* 1st Page Style Code */
  header .header_wrap{padding:0 30px;}
  header .navigation .navi a{padding:0 15px;}
  header .navigation .navi p{font-size:15px;}
  .home .left_wing img, .home .right_wing img{width:100px;}

  /* 2nd Page Style Code */
  .iam .card_btnwrap{padding:20px 0;}
  .iam .main2_fronttxt .education{font-size:16px;justify-content:center;}
  .iam .detail_profile p{text-align: left;}
  .iam .detail_profile p:nth-of-type(1),
  .iam .detail_profile p:nth-of-type(2){justify-content:center;}
  .iam .main2_contents .detail_profile span h3{font-size:21px;}
  .iam .skill_wrap .left_skill>li em,
  .iam .skill_wrap .right_skill>li em{font-size:15px;}
  .iam .main2_backtxt .main2_txt .skill_wrap{margin-top:15px;}
  .iam .card_wrap .main2_fronttxt,
  .iam .card_wrap .main2_backtxt{height:100%;}
  .iam .main2_fronttxt h2,
  .iam .main2_backtxt .main2_txt h2{font-size:18px;}
  .iam .skill_btn{padding-top:20px;}

  /* 3rd Page Style Code */
  .web .slide .slide_txt h2{margin-bottom: 5px;}
  .web .slide .slide_txt p{padding:3px 0;}
  .web .slide .slide_txt p{font-size:13px;}
  .web .slide .slide_txt .txt_box{margin-top:20px;}
  .web .slide .slide_txt .slide_button{width:110px;}
  .fp-controlArrow.fp-prev{border-width:12px 10px 12px 0;}
  .fp-controlArrow.fp-next{border-width:12px 0 12px 10px;}

  /* 4rd Page Style Code */
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(1),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(2),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(3),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(4),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(5),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(6),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(7),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(8),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(9),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(10),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(11),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(12),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(13),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(14),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(15),
  .psai .pgnum_4wrap .ps_aiwrap section:nth-child(16){height:250px;background-size:250px;}
  .psai .punum_4_mainbox .ps_aitxt .psai_txt h2{font-size:21px;}

  /* Planning Page Style Code */
  .container .accordion .item:nth-child(2),
  .container .accordion .item:nth-child(4),
  .container .accordion .item:nth-child(6){display:none;}
  .accIcon:before{height:15px;}
  .accIcon:after{width:15px;}
  .planning .plan_btn button{width:150px;margin-top:50px;}

  /* 5th Page Style Code */
  .contact .contact_board li>span:nth-child(2){font-size: 11px;}
  .contact .contact_board .board_more,
  .contact .contact_board .write_btn{height:25px;}
  .contact .contact_board .board_more button,
  .contact .contact_board .write_btn button{width:90px;font-size:11px;}
  .contact .contact_board h3{font-size:14px;padding:5px 0;}

  .contact .contact_board .write_box .write_tit span,
  .contact .contact_board .write_box .write_tit input#write_name,
  .contact .contact_board .write_box .write_tit input{font-size:11px;}
  .contact .contact_board .write_box .write_con textarea{font-size:12px;}
 
  }

  @media screen and (max-width:570px){
  header .header_wrap{padding:0 20px;}
  header .navigation .navi a{padding:0 10px;}

  /* 2nd Page Style Code */
  .iam .main2_contents{justify-content: center;}
  .iam .main2_contents .main_img{height:250px;margin-top:50px;}
  .iam .detail_profile p{font-size:13px;padding:0}
  .iam .main2_fronttxt .education{font-size:16px;padding: 20px 0 10px 0;}
  .iam .main2_contents .container .card_wrap{height:85%;}
  .iam .container .card_wrap .main2_fronttxt{display:flex;flex-direction: column;align-items:center;justify-content:center;padding:10px;margin:0;height:100%;}
  .iam .main2_contents .main2_fronttxt .education{font-size:19px;}
  .iam .detail_profile span h3{font-size:15px;padding:0;}
  .iam .main2_backtxt .main2_txt .skill_wrap{height:70%;}
  .iam .container .card_wrap .main2_backtxt{display:flex;align-items:center;justify-content: center;margin:0;}
  .iam .container .card_wrap .main2_backtxt .main2_txt{width:100%;}

  .iam .skill_btn{width:90px;}
  .iam .skill_btn button,
  .iam .skill_btn button:hover{height:32px;font-size:11.5px;}

  /* Planning Page Style Code */
  .planning .vertical_center .plan_txt h2{font-size:15px;}
  .container .accordion .item:nth-child(5){display:none;}
  .container .accordion .item_title{padding:10px 3px;}
  .planning .plan_btn button{width:125px;}

  /* 5th Page Style Code */
  .contact{margin-top:30px;}
  .contact .contact_icon i{font-size:100px;}
  .contact .contact_board h3{justify-content:center;margin-top:10px;}
  .contact .contact_board h2{font-size:18px;}
  .contact .contact_board ul{width:90%;height:175px;}
  .contact .contact_board li>span:nth-child(2){width:35%}
  .contact .contact_board li>span:nth-child(3){width:65%}
  .contact .contact_board li>span:nth-child(4){display:none;}
  .contact .contact_board .contact_write{width:90%;}
  .contact .contact_board .write_box .write_tit{flex-wrap: wrap;}
  .contact .contact_board .write_box .write_tit span{width:30%; border-radius:5px 0 0 5px;margin-top:5px}
  .contact .contact_board .write_box .write_tit input#write_name{width:calc(70% - 10px);border-radius:0 5px 5px 0;}
  .contact .contact_board .write_box .write_tit input{margin-top:5px;width:calc(70% - 10px);border-radius:0 5px 5px 0;}
  
  
}

@media screen and (max-width:500px){
  /* Sub Navi Stlye Code*/
  .navigation .navi{display:none;}
  header .navigation .sub_navwrap{display:flex;flex-direction: column;align-items: center;}
  header .navigation .sub_navwrap .sub_navi{width:40px;height:40px;}

  /* Home Style Code */
  .home .left_wing img, .home .right_wing img{width:80px;}
  .home .main_txt .typing ul li,
  .home .main_txt .typing ul li.on{font-size:20px;}

  /* 2nd Page Style Code */
  .iam .main2_contents .main_img{height:30%;}
  .iam .main2_contents .main_img img{width:250px;}
  .iam .main2_contents .detail_profile{margin:0;}

  /* 3rd Page Style Code */
  .web .slide .slide_image{width:60%;}
  .web .slide .slide_image img{width:100%;}
  .web .slide .slide_txt h2{font-size:20px;}
  .web .slide .slide_txt p{font-size:12px;}
  .web .slide .slide_txt .slide_button{width:100px;margin-top:25px;}
  /* 4rd Page Style Code */
  .psai .punum_4_mainbox .ps_aiwrap{width:75%;}
  .psai .punum_4_mainbox .ps_aitxt .psai_txt p{text-align: initial;padding:7px 0;}
  .psai .punum_4_mainbox .ps_aitxt .psai_txt p.more_photo{margin:0;}
  .psai .punum_4_mainbox .ps_aitxt .psai_txt button{width:95px;height:35px;font-size:11px;}
  .web .slide .slide_txt .slide_button button{font-size:12px;}

  /* Planning Page Style Code */
  .sub_wrapper{display:block;}
  .planning .vertical_center .plan_txt,
  #wrapper{display:none;}


  /* 5th Page Style Code */
  .contact {margin-top:40px;}
  .contact .contact_icon i{font-size:80px;}
  .contact .contact_board{margin-top:15px;}
  .contact .contact_board ul{margin:5px auto 10px auto;}
  .contact .contact_board h3{font-size:13px;margin-top:10px;}
}

@media screen and (max-width:400px){
  .home .main_txt .typing ul li,
  .home .main_txt .typing ul li.on{font-size:18px;}
  /* 1st Page Style Code */
  .pgnum_1 .main_contents .main_txt .typing{width:100%;}

  /* 2nd Page Style Code */
  .iam .main2_contents .main_img img{width:200px;}
  .iam .card_wrap{width:90%;}
  .iam .skill_wrap .left_skill>li em,
  .iam .skill_wrap .right_skill>li em{font-size:14px;}

  /* 3rd Page Style Code */
  .web .slide .slide_txt{padding:0 10px;text-align:center;}

  /* 4rd Page Style Code */
  .psai .punum_4_mainbox .ps_aiwrap{width:90%;}
  .psai .punum_4_mainbox .ps_aitxt .psai_txt p{font-size:13px;}

   /* Planning Page Style Code */
  .sub_wrapper .sub_imgwrap span{width:210px;}
  .sub_wrapper .sub_imgwrap p i{padding:15px 0;}

  /* 5th Page Style Code */
  header .navigation .sub_navwrap .sub_navi{width:35px;height:35px;}
  .contact .contact_board ul{width:95%;}
  .contact .contact_board li>span{font-size:10px;}
  .contact .contact_board li>span:nth-child(1){display:block;width:20%;}
  .contact .contact_board li>span:nth-child(2){display:none;}
  .contact .contact_board li>span:nth-child(3){width:80%;}
  .contact .contact_board .contact_write{width:95%;}  

}