@media screen and (max-width:1490px){
  /* iam Page Style Code */
  .iam .main2_contents .main_img img{width:300px;height:300px;
  }
  .iam .container .card_wrap .main2_fronttxt{height:35%;padding:10px 15px;}
  .iam .main2_contents .detail_profile span{margin-top:10px;}
  .iam .main2_contents .detail_profile span h3{font-size:28px;}
  .iam .card_btnwrap{width:85%}
  .iam .main2_contents .main2_backtxt .main2_txt .skill_wrap{margin-top:15px;}
  .iam .skill_btn{bottom:20%;}
  .iam .card_wrap .main2_fronttxt,
  .iam .card_wrap .main2_backtxt{height:380px;}

  /* 4rd Page Style Code */
  .pgnum_4 .punum_4_mainbox .ps_aitxt .psai_txt{width:100%;margin:0 20px 0 130px;}
  .pgnum_4 .pgnum_4wrap .ps_aiwrap{margin-left:50px;}
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(1),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(2),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(3),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(4),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(5),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(6),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(7),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(8),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(9),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(10),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(11),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(12),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(13),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(14),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(15),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(16){background-size:480px;}

}


@media screen and (max-width:1350px){

  /* 2nd Page Style Code */
  .iam .iam_wrap{justify-content: space-between;}
  .iam .main2_contents {width:calc(30% - 10px);}
  .iam .main2_contents .main_img{width:100%;}
  .iam .main2_contents .main_img img{width:100%;height:auto;}
  .iam .card_btnwrap{width:calc(70% - 10px);}
  .iam .card_wrap{width:100%;}
  .iam .card_wrap .main2_fronttxt,
  .iam .card_wrap .main2_backtxt{height:350px;}
  .iam .detail_profile span{margin-top:10px;}
  .iam .detail_profile span h3{font-size:28px;}
  .iam .main2_backtxt .main2_txt{width:100%;height:100%;}
  .iam .main2_fronttxt h2,
  .iam .main2_backtxt .main2_txt h2{font-size:23px;}
  .iam .skill_btn{height:50px;}

  /* 4rd Page Style Code */
  .pgnum_4 .pgnum_4wrap .ps_aiwrap{margin-left:50px;}
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(1),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(2),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(3),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(4),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(5),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(6),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(7),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(8),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(9),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(10),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(11),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(12),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(13),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(14),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(15),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(16){background-size:400px;}

  .pgnum_4 .punum_4_mainbox .ps_aitxt .psai_txt{margin:0 20px 0 100px;}
}

@media screen and (max-width:1150px){
  /* header Style Code/ */
  header .navigation .navi a{padding:0 20px;}
  /* 1st Page Style Code */
  .home .left_wing img, .home .right_wing img{width:120px;}
  .home .main_txt{display:flex;align-items: center;justify-content:center;}
  .home .main_txt .typing ul li,
  .home .main_txt .typing ul li.on{font-size:25px;}
  

  /* 2nd Page Style Code */
  .iam .main2_contents .detail_profile span h3{font-size:21px;}

  /* 4rd Page Style Code */
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(1),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(2),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(3),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(4),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(5),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(6),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(7),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(8),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(9),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(10),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(11),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(12),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(13),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(14),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(15),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(16){background-size:350px;}
  .pgnum_4 .punum_4_mainbox .ps_aitxt .psai_txt{margin:0 20px 0 50px;}
  .pgnum_4 .punum_4_mainbox .ps_aitxt .psai_txt h2{font-size:23px;}
  .pgnum_4 .punum_4_mainbox .ps_aitxt .psai_txt p{font-size:15px;padding:7px 0;}
  .pgnum_4 .punum_4_mainbox .ps_aitxt .psai_txt button{width:120px;font-size:12px;}
  
}

@media screen and (max-width:950px){
 
  header .navigation .logo{font-size:30px;}
  header .navigation .navi p{font-size:17px;}
   /* 1st Page Style Code */
  .pgnum_1 .left_wing, .pgnum_1 .right_wing{width:80px;height:80px;}
  .pgnum_1 .main_contents .main_txt .typing ul li{font-size:22px;}
  .pgnum_1 .main_contents .main_txt .typing ul li.on{font-size:22px;}
  .pgnum_1 .main_contents .main_txt .typing{width:50%;margin:auto;}

  /* 2nd Page Style Code */
  .iam .main2_contents{flex-direction:column;}
  .iam .main2_contents .main_img{width:100%;height:35%;margin-top:150px;}
  .iam .main2_contents .main_img img{width:300px;}
  .iam .main2_contents .container{width:85%;height:45%;}
  .iam .main2_contents .container .card_wrap{height:80%;}
  .iam .main2_contents .detail_profile span{margin-top:20px;}
  .iam .main2_contents .detail_profile span h3{font-size:28px;}
  .iam .container .card_wrap .main2_fronttxt, .iam .container .card_wrap .main2_backtxt{height:85%;margin-top:25px;}
  
  .iam .skill_btn{bottom:-30px;}

  /* 3rd Page Style Code */
  .pgnum_3 .slide .slide_txt h2{font-size:23px;}
  .pgnum_3 .slide .slide_txt p{font-size:14px;}
  .pgnum_3 .slide .slide_txt .slide_button{width:130px;height:38px}

  /* 4rd Page Style Code */
  .pgnum_4 .punum_4_mainbox{flex-direction:column;margin-top:60px;height:75%}
  .pgnum_4 .pgnum_4wrap .ps_aiwrap{width:50%;margin:0;}
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(1),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(2),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(3),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(4),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(5),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(6),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(7),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(8),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(9),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(10),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(11),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(12),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(13),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(14),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(15),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(16){background-size:400px;}

  .pgnum_4 .punum_4_mainbox .ps_aitxt{width:100%;}
  .pgnum_4 .punum_4_mainbox .ps_aitxt .psai_txt{width:50%;margin:auto;display:flex;flex-direction:column;justify-content:center;align-items:center;margin:20px auto 0 auto;}
  .pgnum_4 .punum_4_mainbox .ps_aitxt .psai_txt p.more_photo,
  .pgnum_4 .punum_4_mainbox .ps_aitxt .psai_txt p{white-space: pre;}

  /* 5th Page Style Code */
  .pgnum_5 .contact .contact_icon i{font-size:200px;}
  .pgnum_5 .contact .contact_board li>span:nth-child(1){display:none;}
  .pgnum_5 .contact .contact_board li>span:nth-child(2){width:25%;}
  .pgnum_5 .contact .contact_board li>span:nth-child(4){width:25%;}
}

@media screen and (max-width:850px){
  /* 1st Page Style Code */
  .pgnum_1 .main_contents{flex-direction: column;justify-content:center;}
  .pgnum_1 .left_wing, .pgnum_1 .right_wing{margin:70px 0;}
  /* 3rd Page Style Code */
  .pgnum_3 .slide .slide_bg{height:600px;padding:20px 0;flex-direction: column;justify-content: center;}
  .pgnum_3 .slide .slide_image{width:100%;}
  .pgnum_3 .slide .slide_image img{width:50%;margin:auto;}
  .pgnum_3 .slide .slide_txt .slide_button{width:120px; margin:15px auto 0 auto;}
  .pgnum_3 .slide .slide_txt{width:100%;align-items:center;margin-top:15px;}
  .pgnum_3 .slide .slide_txt .txt_box{width:50%;margin:auto;text-align:center;}

  /* 4rd Page Style Code */
  .pgnum_4 .pgnum_4wrap .ps_aiwrap{width:50%;margin:0;}
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(1),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(2),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(3),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(4),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(5),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(6),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(7),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(8),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(9),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(10),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(11),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(12),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(13),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(14),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(15),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(16){background-size:300px;}
  .pgnum_4 .punum_4_mainbox .ps_aitxt .psai_txt{margin:0 auto;}
  .pgnum_4 .punum_4_mainbox .ps_aitxt .psai_txt button,
  .pgnum_4 .punum_4_mainbox .ps_aitxt .psai_txt button:hover{margin-top:30px;}

  /* 5th Page Style Code */
  .pgnum_5 .contact{flex-direction: column;height:96%;}
  .pgnum_5 .contact .contact_icon{margin:120px 0 0 0;}
  .pgnum_5 .contact .contact_icon i{font-size:100px;}
  .pgnum_5 .contact .contact_board{width:90%;margin-top:20px;}
  .pgnum_5 .contact .contact_board h3{padding:10px 0;}
  .pgnum_5 .contact .contact_board li>span:nth-child(1){display:block;}
  .pgnum_5 .contact .contact_board li>span:nth-child(2){width:20%;}
  .pgnum_5 .contact .contact_board li>span:nth-child(4){width:20%;}
}

@media screen and (max-width:700px){
    /* 1st Page Style Code */
    header .header_wrap{padding:0 30px;}
    header .navigation .navi a{padding:0 15px;}
    header .navigation .navi p{font-size:15px;}
    .home .left_wing img, .home .right_wing img{width:100px;}

    /* 2nd Page Style Code */
    .iam .main2_contents .main2_fronttxt .education{font-size:16px;}
    .iam .main2_contents .detail_profile{margin-top:15px;}
    .iam .main2_contents .detail_profile span h3{font-size:21px;}
    .iam .skill_wrap .left_skill>li em,
    .iam .skill_wrap .right_skill>li em{font-size:15px;}
    .iam .main2_contents .main2_backtxt .main2_txt .skill_wrap{margin-top:15px;}

    /* 4rd Page Style Code */
    .pgnum_4 .pgnum_4wrap .ps_aiwrap{height:50%;}
    .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(1),
    .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(2),
    .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(3),
    .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(4),
    .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(5),
    .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(6),
    .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(7),
    .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(8),
    .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(9),
    .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(10),
    .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(11),
    .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(12),
    .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(13),
    .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(14),
    .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(15),
    .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(16){background-size:250px;}

    /* 5th Page Style Code */
    .pgnum_5 .contact .contact_board ul,
    .pgnum_5 .contact .contact_board .contact_write{width:90%}
    .pgnum_5 .contact .contact_icon{margin-top:120px;}
  }

  @media screen and (max-width:570px){
  header .header_wrap{padding:0 20px;}
  header .navigation .navi a{padding:0 10px;}

  /* 2nd Page Style Code */
  .iam .main2_contents{justify-content: center;}
  .iam .main2_contents .main_img{height:250px;margin-top:50px;}
  .iam .main2_contents .main_img img{width:250px;}
  .iam .main2_contents .container{width:100%;height:50%;display:flex;align-items:center;justify-content: center;}
  .iam .main2_contents .detail_profile span{margin-top:13px;}
  .iam .main2_contents .detail_profile span h3{font-size:19px;}
  .iam .main2_contents .detail_profile p{justify-content: center;white-space:pre-wrap;}
  .iam .main2_contents .detail_profile p:nth-of-type(4)>i,
  .iam .main2_contents .detail_profile p:nth-of-type(5)>i,
  .iam .main2_contents .detail_profile p:nth-of-type(6)>i{display:none;}

  .iam .main2_contents .container .card_wrap{height:85%;}
  .iam .container .card_wrap .main2_fronttxt{display:flex;flex-direction: column;align-items:center;justify-content:center;padding:10px;margin:0;height:100%;}
  .iam .main2_contents .main2_fronttxt .education{font-size:19px;}
  .iam .container .card_wrap .main2_backtxt{display:flex;align-items:center;justify-content: center;margin:0;}
  .iam .container .card_wrap .main2_backtxt .main2_txt{width:100%;}
  .iam .skill_btn{width:100px;height:35px;bottom:-45px;}
  .iam .skill_btn button,
  .iam .skill_btn button:hover
  {font-size:12px;}

  /* 3rd Page Style Code */
  .pgnum_3 .slide .slide_image img,
  .pgnum_3 .slide .slide_txt .txt_box{width:60%;}
  .pgnum_3 .slide .slide_txt h2{font-size:21px;}
  .pgnum_3 .slide .slide_txt p{font-size:13px;}
  .pgnum_3 .slide .slide_txt .slide_button{width:100px;}
  .pgnum_3 .slide .slide_txt .slide_button button{font-size:13px}
  .pgnum_3 .slide .slide_txt .slide_button button:hover{font-size:13px;}

  /* 4rd Page Style Code */
  .pgnum_4 .punum_4_mainbox{margin-top:150px;}
  .pgnum_4 .pgnum_4wrap .ps_aiwrap{height:40%;}
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(1),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(2),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(3),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(4),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(5),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(6),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(7),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(8),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(9),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(10),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(11),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(12),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(13),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(14),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(15),
  .pgnum_4 .pgnum_4wrap .ps_aiwrap section:nth-child(16)
  {background-size:220px;}
  .pgnum_4 .punum_4_mainbox .ps_aitxt .psai_txt h2{font-size:20px;}
  .pgnum_4 .punum_4_mainbox .ps_aitxt .psai_txt p.more_photo,
  .pgnum_4 .punum_4_mainbox .ps_aitxt .psai_txt p{font-size:13px;}

  /* 5th Page Style Code */
  .pgnum_5 .contact{justify-content: center;}
  .pgnum_5 .contact .contact_icon{margin:130px 0 0 0;}
  .pgnum_5 .contact .contact_icon i{font-size:80px;}
  
  .pgnum_5 .contact .contact_board h3{padding:10px 0 0 0;font-size:14px;}
  .pgnum_5 .contact .contact_board li>span{font-size:12px;}
  .pgnum_5 .contact .contact_board li>span:nth-child(1){display:none;}
  .pgnum_5 .contact .contact_board li>span:nth-child(2){width:20%;}
  .pgnum_5 .contact .contact_board li>span:nth-child(3){width:55%;}
  .pgnum_5 .contact .contact_board li>span:nth-child(4){width:25%;}
  .pgnum_5 .contact .contact_board .write_box .write_con textarea{font-size:12px;}

}

@media screen and (max-width:500px){
  /* Sub Navi Stlye Code*/
  .navigation .navi{display:none;}
  header .navigation .sub_navwrap{display:flex;flex-direction: column;align-items: center;}
  header .navigation .sub_navwrap .sub_navi{width:40px;height:40px;}

  /* Home Style Code */
  .home .left_wing img, .home .right_wing img{width:80px;}
  .home .main_txt .typing ul li,
  .home .main_txt .typing ul li.on{font-size:20px;}

  /* 2nd Page Style Code */
  .iam .main2_contents .main_img{height:30%;}
  .iam .main2_contents .main_img img{width:250px;}
  .iam .main2_contents .detail_profile{margin:0;}
  /* 4rd Page Style Code */
  .pgnum_4 .pgnum_4wrap .ps_aiwrap{width:60%;}
  .pgnum_5 .contact .contact_icon{margin:120px auto 0 120px;}
  .pgnum_5 .contact .contact_icon i{font-size:80px;}
  .pgnum_5 .contact .contact_board{height:75%;}
  .pgnum_5 .contact .contact_board h2{font-size:21px;}
  .pgnum_4 .punum_4_mainbox .ps_aitxt .psai_txt{width:100%;padding:0 20px;}
  .pgnum_4 .punum_4_mainbox .ps_aitxt .psai_txt p.more_photo,
  .pgnum_4 .punum_4_mainbox .ps_aitxt .psai_txt p{white-space:pre-wrap;font-size:13px;}
  .pgnum_4 .punum_4_mainbox .ps_aitxt .psai_txt button,
  .pgnum_4 .punum_4_mainbox .ps_aitxt .psai_txt button:hover{width:100px;}

  /* 5th Page Style Code */
  .pgnum_5 .contact .contact_icon{margin:120px auto 0 auto;}
  .pgnum_5 .contact .contact_board ul{height:190px;}
  .pgnum_5 .contact .contact_board li>span:nth-child(2){width:30%;}
  .pgnum_5 .contact .contact_board li>span:nth-child(3){width:70%;}
  .pgnum_5 .contact .contact_board li>span:nth-child(4){display:none;}
  .pgnum_5 .contact .contact_board .board_more button,
  .pgnum_5 .contact .contact_board .board_more button:hover,
  .pgnum_5 .contact .contact_board .write_btn button,
  .pgnum_5 .contact .contact_board .write_btn button:hover{width:85px;font-size:12px;}

  .pgnum_5 .contact .contact_board .write_box .write_tit{flex-wrap: wrap;}
  .pgnum_5 .contact .contact_board .write_box .write_tit span{width:30%;border-radius:5px 0 0 5px}
  .pgnum_5 .contact .contact_board .write_box .write_tit input#write_name{width:calc(70% - 10px);border-radius:0 5px 5px 0;}
  .pgnum_5 .contact .contact_board .write_box .write_tit span{width:30%;margin-top:5px;}
  .pgnum_5 .contact .contact_board .write_box .write_tit input{width:calc(70% - 10px);border-radius: 5px 0 0 5px;margin-top:5px;}
}



@media screen and (max-width:400px){
  .home .main_txt .typing ul li,
  .home .main_txt .typing ul li.on{font-size:18px;}
  /* 1st Page Style Code */
  .pgnum_1 .main_contents .main_txt .typing{width:100%;}

  /* 2nd Page Style Code */
  .iam .main2_contents .main2_fronttxt h2, .iam .main2_contents .main2_backtxt .main2_txt h2{font-size:21px;}
  .iam .main2_contents .detail_profile p{font-size:13px; padding:3px 0;}
  .iam .main2_contents .main2_fronttxt .education{font-size:16px;}
  .iam .main2_contents .detail_profile span h3{font-size:17px;}

  /* 3rd Page Style Code */
  .pgnum_3 .slide .slide_image img, .pgnum_3 .slide .slide_txt .txt_box{width:80%;}
  .fp-controlArrow.fp-prev{border-width:10px 12px 10px 0; top:45%;}
  .fp-controlArrow.fp-next{border-width:10px 0 10px 12px;top:45%;}

  /* 4rd Page Style Code */
  .pgnum_4 .pgnum_4wrap .ps_aiwrap{width:80%;}

  

}