/* Reset Style Code */

* {margin: 0;padding: 0;box-sizing: border-box;}
a {text-decoration: none;color: #333;}
ol,ul {list-style: none;}
img {display: block;}
input,button,textarea {outline: 0;border:0;color:#777;}
button{outline:0;border:1px solid;}
h2{font-size:25px;}
em{font-style: normal;}

/* Main Layout Code */
body {font-size: 14px;overflow: hidden;background:url(/dy_pofol/img/bgimg7.jpg)no-repeat;background-size:cover;box-sizing: border-box;position:relative;}
.body::before{content: "";position: absolute;width:90%;margin:auto;height:100%;background-color: rgba(999,999,999,0.25);top:0;left:0;}
.clearfix:after {content: "";display: block;clear: both;}
.center{width:90%;;margin:auto;}
.vertical_center{display:flex;align-items: center;}
.gb_section{width:90%;background-color:rgba(999,999,999,0.25);height: 100%;position:fixed;left:50%;transform: translateX(-50%);}

/* Header Section Style Code */
header{width:100%; height:auto;position:fixed;z-index:99;}
header .navigation{width:100%;height:auto;}
header .header_wrap{height:100px;display:flex;justify-content: center;align-items: center;}
header .navigation .logo{width:20%; font-size:35px;font-family: 'Titillium Web', sans-serif;text-align: center;}
header .navigation .logo em{font-style:normal;font-size:18px;}
.navigation .navi{width:80%;display:flex;justify-content: flex-end;align-items: center;}
header .navigation .navi a{padding:0 40px;}
header .navigation .navi p{font-size:18px;}

/* Sub Navi Style Code */
header .navigation .sub_navwrap{width:50px;position:fixed;right:45px;top:30px;text-align: center;display:none;}
header .navigation .sub_navwrap .sub_navi{width:50px;height:50px;background:rgba(999,999,999,0.5);border-radius: 10px;display:flex;justify-content: center;align-items: center;}
header .navigation .sub_navwrap .sub_navi i{font-size:20px;color:#666;}
header .navigation .sub_navibox{width:50px;padding-top:10px;display:none;}
header .navigation .sub_navibox ul{background:rgba(999,999,999,0.5);border-radius:10px;}
header .navigation .sub_navibox ul li{padding:10px 0;color:#333;border-top: 1px solid #fff;}
header .navigation .sub_navibox ul li:nth-child(1){border-top:none;}
header .navigation .sub_navibox ul li a{font-size:12px;}

/* 4rd Page Modal box Style Code */
.modal_box{display:none;position:fixed;width:100%;height:100%;margin:auto;z-index:999;}
.modal_box .modal_con{background-color:rgba(0, 0, 0, 0.35);margin:auto;width:80%;height:100%;}
.modal_box .modal_con .modal_imgbox{width:90%;height:90%;margin:auto;background-size:contain;background-position:center;background-repeat:no-repeat;background-image:url();}
.modal_box .modal_close{color:#333;border:none;background:transparent;width:100%;height:auto;display:flex;justify-content: flex-end;padding:15px;top:-90px;}
.modal_box .modal_close i{width:30px;height:30px;font-size:25px;cursor:pointer;}

/* 1st Page Style Code */
.home .vertical_center{width:100%;flex-direction: column;}
/* .home .center{background:transparent;} */
.home .left_wing,
.home .right_wing{width:100%;height:auto;}
.home .left_wing img{width:150px;margin:auto;}
.home .right_wing img{width:150px;margin:auto;transform:rotate(180deg);}
.home .main_txt{width:100%;text-align: center;height:130px;}
.home .main_txt .typing-txt{display:none;}
.home .main_txt .typing ul li{display:block;font-size:30px;}
.home .main_txt .typing ul li.on{display: inline-block; animation-name: cursor; animation-duration: 0.5s; animation-iteration-count: infinite; font-size:30px;}
@keyframes cursor{ 
  0%{border-right: 1px solid #fff;} 
  50%{border-right: 1px solid #000;} 
  100%{border-right: 1px solid #fff;} 
}

/* 2nd Page Style Code */
.iam{width:100%;height:auto;}
.iam .vertical_center{width:90%;margin:auto;flex-direction: column;}
.iam .iam_wrap{display:flex;align-items: center;width:100%;justify-content: space-around;}
.iam .main2_contents{width:35%;}
.iam .main2_contents .main_img{width:350px;height:auto;margin:auto;}
.iam .main2_contents .main_img img{width:100%;height:auto;background-size:cover;border-radius:10px;margin:auto;}

.iam .main2_fronttxt h2{text-align: center; font-size:25px;}
.iam .detail_profile{margin-top:10px;}
.iam .detail_profile p{font-size:16px;display: flex;padding: 5px 0;align-items: center;}
.iam .main2_fronttxt .education{font-weight: bold;font-size:20px;padding:10px 0;}
.iam .detail_profile p i{font-size:10px;color:#7da1d4; padding-right: 5px;}
.iam .detail_profile span{width:100%;display:flex;justify-content: center;text-align:center;margin-top:20px;}
.iam .detail_profile span h3{font-size:35px;font-weight: normal;display:flex;align-items: center;}
.iam .detail_profile span h3 i{font-size:25px;padding:0 10px;color:#f3c33c;}
.iam .main2_contents .main2_backtxt .main2_txt h2{width:100%;height:20%;text-align: center; font-size:25px;;}
.iam .main2_backtxt .main2_txt .skill_wrap{width:100%;height:60%;;display:flex;justify-content: space-around;font-size:16px;margin-top:30px;}
.iam .main2_backtxt .main2_txt p{width:100%;height:20%;text-align:center;margin:20px 0;font-size:14px;color:#666;}

/* 2nd Page Skill Common Style Code */
.iam .skill_wrap .left_skill,
.iam .skill_wrap .right_skill{width:50%;height:auto;display:flex;flex-direction: column;padding:0 0 0 10px;}
.iam .skill_wrap .left_skill>li,
.iam .skill_wrap .right_skill>li{width:90%;text-align: left;display:flex;align-items:center;}
.iam .skill_wrap .left_skill>li i,
.iam .skill_wrap .right_skill>li i{font-size:10px;color:#7da1d4; padding-right: 5px;}
.iam  .skill_wrap .skill_bar{width:90%;height:30px;_background:#333;display:flex;justify-content: center;}
.iam .skill_wrap .left_skill .total_bar,
.iam .skill_wrap .right_skill .total_bar{width:100%;height:70%;display:flex;align-items: center;background:#ccc;margin:auto;border-radius:15px;}
.iam .skill_wrap .left_skill .sub_bar,
.iam .skill_wrap .right_skill .sub_bar{height:100%;border-radius:15px;}

/* 2nd Page Card Flip Style Code */
.iam .card_wrap {position: relative;float:left;width:800px;height:400px;-webkit-perspective: 900px;-moz-perspective: 900px;-o-perspective: 900px;perspective: 900px;transition: transform 0.5s;-webkit-transition: -webkit-transform 0.5s;-moz-transition: -moz-transform 0.5s;-o-transition: -o-transform 0.5s;-webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d;-o-transform-style: preserve-3d;transform-style: preserve-3d;}

.iam .card_wrap .main2_fronttxt,
.iam .card_wrap .main2_backtxt {display: block;height:380px;width: 100%;text-align: center;font-size: 4em;position: absolute;-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-o-backface-visibility: hidden;backface-visibility: hidden;box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);top:50%;transform:rotateY(0) translateY(-50%);padding:20px;background:#efefef;}
.iam .card_wrap.flipped{-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);-o-transform: rotateY(180deg);transform: rotateY(180deg);}
.iam .card_wrap .main2_backtxt{-webkit-transform: rotateY( 180deg );-moz-transform: rotateY(180deg);-o-transform: rotateY(180deg);transform: rotateY(180deg)translateY(-50%);}

/* 2nd Page Skill Detail Style Code */
.iam .skill_wrap .left_skill .sub_bar.html{width:85%;background:#ae3c60;}
.iam .skill_wrap .left_skill .sub_bar.css{width:90%;background:#df473c;}
.iam .skill_wrap .left_skill .sub_bar.javascript{width:45%;background:#f3c33c;}
.iam .skill_wrap .left_skill .sub_bar.jquery{width:45%;background:#255e79;}

.iam .skill_wrap .right_skill .sub_bar.php{width:15%;background:#267778;}
.iam .skill_wrap .right_skill .sub_bar.photoshop{width:80%;background:#82b4bb;}
.iam .skill_wrap .right_skill .sub_bar.illustrator{width:70%;background:#7da1d4;}

.iam .card_btnwrap{display:flex;flex-direction:column;align-items:center;}
.iam .skill_btn{width:130px;height:100px;display:flex;align-items: center;}
.iam .skill_btn button{width:100%; height:40px;color:#fff;background:cornflowerblue;border-radius:10px;}
.iam .skill_btn button:hover{width:100%; height:40px;color:cornflowerblue;background:#fff;border-radius:10px;}

/* 3rd Slide Page Style Code */
.web .slide{width:100%;height:auto;}
.web .vertical_center{width:100%;flex-direction: column;}
.web .slide .slide_bg{width:90%;margin:auto;height:520px;display:flex;justify-content:space-between;align-items: center;background:#efefef;}
.web .slide .slide_image{width:50%;height:auto;}
.web .slide .slide_image img{width:70%;height:auto;margin:auto;}
.web .slide .slide_txt{width:50%;height:auto;}
.web .slide .slide_txt h2{margin-bottom: 15px;;}
.web .slide .slide_txt p{font-size:16px;padding:5px 0;}
.web .slide .slide_txt p.star>i{padding:0 2px; color:lightslategray;}
.web .slide .slide_txt .slide_button {width:150px;height:40px;margin-top:20px;}
.web .slide .slide_txt .slide_button button{width:100%; height:100%;color:#fff;background:cornflowerblue;border-radius:10px;}
.web .slide .slide_txt .slide_button button:hover{width:100%; height:100%;color:cornflowerblue;background:#fff;border-radius:10px;}

/* 4rd Slide Page Style Code */
.psai .pgnum_4wrap{width:100%;height:auto;}
.psai .punum_4_mainbox{width:90%;margin:auto;height:auto;display:flex;align-items: center;justify-content: space-around;}
.psai .punum_4_mainbox .ps_aiwrap {width:50%;height:auto;display:flex;border-radius:10px;overflow:hidden;justify-content: center;align-items:center;margin:0;}
.psai .punum_4_mainbox .ps_aitxt{width:50%;height:auto;display:flex;align-items:center;}
.psai .punum_4_mainbox .ps_aitxt .psai_txt{width:100%;height:auto;padding-left:85px;}
.psai .punum_4_mainbox .ps_aitxt .psai_txt h2{padding:20px 0;}
.psai .punum_4_mainbox .ps_aitxt .psai_txt p{font-size:16px; padding:10px 0;}
.psai .punum_4_mainbox .ps_aitxt .psai_txt p.more_photo{margin-bottom:15px;}
.psai .punum_4_mainbox .ps_aitxt .psai_txt p i{color:cornflowerblue;}
.psai .punum_4_mainbox .ps_aitxt .psai_txt button{width:130px; height:40px;color:#fff;background:cornflowerblue;border-radius:10px;margin-top:20px;}
.psai .punum_4_mainbox .ps_aitxt .psai_txt button:hover{width:130px; height:40px;color:cornflowerblue;background:#fff;border-radius:10px;}

.psai .pgnum_4wrap .ps_aiwrap section{width:500px;height:500px;min-width: 0;;transition:1s;overflow: hidden;}
.psai .pgnum_4wrap .ps_aiwrap section.active{min-width:100%;display:flex;align-items:center;justify-content: center;overflow:hidden;border-radius: 10px;;}
.psai .pgnum_4wrap .ps_aiwrap section.inner{padding:10px;}

.psai .pgnum_4wrap .ps_aiwrap section:nth-child(1){background: center no-repeat url(/dy_pofol/img/app_design_web.png);}
.psai .pgnum_4wrap .ps_aiwrap section:nth-child(2){background: center no-repeat url(/dy_pofol/img/flower_shop_web.png);}
.psai .pgnum_4wrap .ps_aiwrap section:nth-child(3){background: center no-repeat url(/dy_pofol/img/flower_shop_sub_web.png);}
.psai .pgnum_4wrap .ps_aiwrap section:nth-child(4){background: center no-repeat url(/dy_pofol/img/medi_web.png);}
.psai .pgnum_4wrap .ps_aiwrap section:nth-child(5){background: center no-repeat url(/dy_pofol/img/wedding_web.png);}
.psai .pgnum_4wrap .ps_aiwrap section:nth-child(6){background: center no-repeat url(/dy_pofol/img/natural_web.png);}
.psai .pgnum_4wrap .ps_aiwrap section:nth-child(7){background: center no-repeat url(/dy_pofol/img/shop_web.png);}
.psai .pgnum_4wrap .ps_aiwrap section:nth-child(8){background: center no-repeat url(/dy_pofol/img/shop_sub_web.png);}
.psai .pgnum_4wrap .ps_aiwrap section:nth-child(9){background: center no-repeat url(/dy_pofol/img/pop_up_web.png);}
.psai .pgnum_4wrap .ps_aiwrap section:nth-child(10){background: center no-repeat url(/dy_pofol/img/uniq_renewal_web.png);}
.psai .pgnum_4wrap .ps_aiwrap section:nth-child(11){background: center no-repeat url(/dy_pofol/img/uniq_renewal_2_web.png);}
.psai .pgnum_4wrap .ps_aiwrap section:nth-child(12){background: center no-repeat url(/dy_pofol/img/brush_web.png);}
.psai .pgnum_4wrap .ps_aiwrap section:nth-child(13){background: center no-repeat url(/dy_pofol/img/font_test_web.png);}
.psai .pgnum_4wrap .ps_aiwrap section:nth-child(14){background: center no-repeat url(/dy_pofol/img/artwork_animal_web.png);}
.psai .pgnum_4wrap .ps_aiwrap section:nth-child(15){background: center no-repeat url(/dy_pofol/img/artwork_book_web.png);}
.psai .pgnum_4wrap .ps_aiwrap section:nth-child(16){background: center no-repeat url(/dy_pofol/img/artwork_art_web.png);}
.psai .pgnum_4wrap .ps_aiwrap section img{width:100%;height:auto;padding:10px;}

/* Planning Style Code */
.planning .vertical_center{flex-direction: column;}
.planning .vertical_center .plan_txt{text-align: center;;}
.planning .vertical_center .plan_txt h2{font-size:21px;color:#fff;}
.planning .vertical_center .plan_txt h2 p{font-size:14px;padding:5px 0;font-weight: 300;}
#wrapper {margin:50px auto;;width:100%;}
.container { width: 100%;position: relative;}
.container:before {content:'';position: absolute;width: calc(100% - 30px);height: 100%;margin: 0;left: 15px;background-color: transparent;top: 0px;_box-shadow: 0px 20px 40px #52616b;opacity: 0.4;  z-index: -1;transition: ease-in-out 0.6s all;}
/* .container:hover.container:before {box-shadow: 0px 40px 90px #52616b;} */

.container .accordion {list-style: none; margin:0;padding: 0;background-color: transparent;border-radius: 3px;display:flex;width:90%;margin:auto;justify-content: flex-end;}

.container .accordion .item{display:flex;background:#fff;}
.container .accordion .item_title {padding: 20px; position: relative;margin: 0;font-size: 18px;font-weight: 500;letter-spacing: 0.8px;color: #52616b;transition: ease-in-out 0.2s all;cursor: pointer;writing-mode:tb; text-orientation: upright;height:300px;}

/* Accordion Item line */
.item_title:before,
.item_title:after {content:'';position: absolute;height:0px;border-radius: 50px;transition: ease-in-out 0.6s all;bottom: 0;left: 0;display: flex;justify-content: center;align-items: center;}
.item_title:before {width:2px;height:300px;background-color: #c9d6df;}
.item_title:after {background-image: linear-gradient(360deg, #52616b, #c9d6df);width:2px;}
.item_title:hover::after {height:300px;}
/* Accordion Item line - Active */
.item_titleActive:after {content:'';position: absolute;height: 300px;border-radius: 50px;transition: ease-in-out 0.6s all;bottom: 0;left: 0;display: flex;justify-content: center;align-items: center;}
.item_titleActive:after {background-image: linear-gradient(360deg, #52616b, #c9d6df);width: 2px;}

/* Accordion Item Icon  */
.accIcon {float: right;width: 30px;height: 30px;display: flex;margin-top: -3px;align-items: center;justify-content: center;}
.accIcon:before,
.accIcon:after { content:'';position: absolute;border-radius: 50px;background-color: #c9d6df;transition: ease 0.6s all;}
.accIcon:before {width: 2px;height: 20px;}
.accIcon:after {width: 20px;height: 2px;}
.item_title:hover .accIcon:before,
.item_title:hover .accIcon:after {background-color: #52616b;}
.accIcon.anime.accIcon:before {transform: rotate(90deg);}
.accordion .item .item_img {opacity: 0;height: 0;padding:0px;position: relative;line-height: 24px;font-size: 16px;font-weight: 200;transition: all 0.6s cubic-bezier(.42,.2,.08,1);overflow: hidden;background-color: #f0f5f9;letter-spacing: 0.5px;width:0px;}
/* Text Content - Class for JS to hide and show */
.accordion .item .item_img.show {opacity:1;height: auto;padding: 10px;position: relative;z-index: 0;border-radius: 0px 0px 3px 3px;width:485px;}

.planning .plan_btn{width:95%;margin:auto;height:auto;display:flex;justify-content: flex-end;}
.planning .plan_btn button{width:100px;height:45px;background:cornflowerblue; color:#fff;margin-top:20px;}

/* Sub planning Style Code */
.sub_wrapper{width:100%;height:auto; display:none;}
.sub_wrapper .plnning_txt{width:90%;margin:auto;display:flex;justify-content:center;text-align: center;margin-top:100px;}
.sub_wrapper .plnning_txt p{font-size:18px; color:#fff;}
.sub_wrapper .plnning_txt span{font-size:14px; color:#fff;}

.sub_wrapper .sub_imgwrap span{width:280px;height:2px;background-color:steelblue;opacity:0.6;margin-bottom: 30px;;}

.sub_wrapper .sub_imgwrap{width:90%;margin:auto;height:auto;display:flex;justify-content:center;align-items: center;flex-direction: column;}
.sub_wrapper .sub_imgwrap p{font-size:14px;color:#fff;padding-bottom:15px;}
.sub_wrapper .sub_imgwrap p i{font-size:20px; padding: 20px 0;}
.sub_wrapper .sub_imgwrap img{width:100%;height:auto;}
.sub_wrapper .sub_imgwrap:nth-child(2){margin-top:30px;}


/* 5th Slide Page Style Code */
 .contact{width:90%;margin:auto;margin-top:60px;height:auto;display:flex;justify-content:space-between;align-items: center;}
 .contact .contact_icon{width:40%;height:auto;margin:auto;display:flex;justify-content: center;}
 .contact .contact_icon i{font-size:250px;color:#efefef;}
 .contact .contact_board{width:60%;height:auto;}
 .contact .contact_board h2{text-align: center;color:#fff;;}
 .contact .contact_board ul{width:85%;height:210px;margin:20px auto;background:#efefef;border-radius:10px;overflow: hidden;padding:10px;overflow-y: auto;}
 .contact .contact_board ul::-webkit-scrollbar{display:block;width:6px;}
 .contact .contact_board ul::-webkit-scrollbar-track{background-color: transparent;}
 .contact .contact_board ul::-webkit-scrollbar-thumb {border-radius: 3px;background-color: cornflowerblue;}
 .contact .contact_board ul::-webkit-scrollbar-button {width:0;height:0;}

 .contact .contact_board li{width:95%;margin:auto;display:flex;}
 .contact .contact_board li.board_tit{background:cornflowerblue;text-align: center;}

/* Detail.php Style Code */
 .contact .contact_board.detail_board p{width:85%;margin:auto;color:#fff;margin-top:30px;}
 .contact .contact_board.detail_board p i{font-size:13px;color:cornflowerblue;}
 .contact .contact_board.detail_board>.detail_board_ul{overflow-y: hidden;}
 .contact .contact_board .board_tit{color:#efefef;}
 .contact .contact_board .board_tit.board_detail{display:flex;align-items: center;justify-content: space-between;background:#efefef;}
 .contact .contact_board .board_tit.board_detail>span:nth-child(1){width:30%;background:cornflowerblue;padding:6px;border-radius: 5px 0 0 5px;color:#efefef;}
 .contact .contact_board .board_tit.board_detail>span:nth-child(2){width:calc(70% - 5px); border:1px solid cornflowerblue;border-radius:0 5px 5px 0;text-align: left;color:#333;}
 .contact .contact_board .board_con.board_detail_con>span{width:100%;height:150px;border:1px solid cornflowerblue;margin-top:10px; padding:10px;border-radius: 5px;text-align: left;}


 .contact .contact_board li>span{font-size:13px;padding:5px; border-bottom:1px solid rgb(166, 190, 235);text-align: center;font-family: 'Gowun Dodum', sans-serif;}
 .contact .contact_board li>span:nth-child(1){width:10%;}
 .contact .contact_board li>span:nth-child(2){width:20%;}
 .contact .contact_board li>span:nth-child(3){width:50%;}
 .contact .contact_board li>span:nth-child(4){width:20%;}
 .contact .contact_board .board_con>span:nth-child(3){text-align:left;}
 .contact .contact_board .board_more{width:100%;height:30px;display:flex;justify-content: center;}
 .contact .contact_board .board_more button{width:100px; height:100%;color:#fff;background:cornflowerblue;border-radius:5px;font-family: 'Gowun Dodum', sans-serif;}
 .contact .contact_board .board_more button:hover{width:100px; height:100%;color:cornflowerblue;background:#fff;border-radius:5px;font-family: 'Gowun Dodum', sans-serif;}

/* 5th Slide Page Style Code */
 .contact .contact_board .contact_write{width:85%;height:auto;margin:20px auto;}
 .contact .contact_board h3{font-size:16px;display:flex;align-items:center;color:#fff;padding:15px 0;width:85%;margin:auto;}
 .contact .contact_board h3 i{font-size:13px;color:cornflowerblue;margin-right:5px;}
 .contact .contact_board .write_box{width:100%;height:auto;background:#efefef;padding:10px;border-radius:10px;}
 .contact .contact_board .write_box .write_tit{width:95%;height:auto;display:flex;align-items: center;justify-content: space-between;margin:auto;}
 .contact .contact_board .write_box .write_tit span{width:10%; background:cornflowerblue;color:#fff;padding:4px 0;text-align:center;font-size:12px;}
 .contact .contact_board .write_box .write_tit input{width:calc(60% - 10px);padding:5px;color:#666;font-family: 'Gowun Dodum', sans-serif;font-size:12px;}
 .contact .contact_board .write_box .write_tit input#write_name{width:calc(20% - 10px)}
 .contact .contact_board .write_box .write_con{width:95%;height:120px; margin:auto;}
 .contact .contact_board .write_box .write_con textarea{font-size:13px;font-family: 'Gowun Dodum', sans-serif;width:100%;height:110px;margin:10px auto 0 0;resize:none;padding:5px;}

 .contact .contact_board .write_btn{width:100%;height:30px;display:flex;justify-content: center;}
 .contact .contact_board .write_btn button{width:100px; height:100%;color:#fff;background:cornflowerblue;border-radius:5px;font-family: 'Gowun Dodum', sans-serif;}
 .contact .contact_board .write_btn button:hover{width:100px; height:100%;color:cornflowerblue;background:#fff;border-radius:5px;font-family: 'Gowun Dodum', sans-serif;}